
<br>
<h1>DETALLE</h1>
<br>
<br>
<div class="row">
    <div class="col-1">

    </div>
    <div class="col-10">
        <div class="card" style="width: 25rem; margin: auto;">
            <div class="card-body">
                <img class="card-img-top" src="{{noticia.imagen}}" alt="Card image cap">
                
                <div class="card-body">
                    <h5 class="card-title">{{noticia.titulo}}</h5>
                    <p class="card-text">{{noticia.longTitle}}</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                  </div>
             <!-- {{noticia |json }} -->   
             <!-- {{noticia.textoNoticia}} -->

                   
            </div>
        </div>
    </div>
    <div class="col-1">
        
    </div>
</div>

<br>
<br>
<br>
<br>
<br>